<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/static/styling/style.css" />
      <title>App resource info</title>
   </head>
   <body class="container">
      <h3>App resource info</h3>
      <ul>
         <li>Server-name: {{systemInfo.serverName}}</li>
         <li>Server-platform: {{systemInfo.platform}}</li>
         <li>Server-time: {{systemInfo.serverTime}}</li>
         <li>App-version: {{systemInfo.appVersion}}</li>
      </ul>
   </body>
</html>
