# Loclal terraform config files

.terraform
.terraform*
terraform.*


# Azure config fiels
azureterraform

# Flask local fiels
.venv
__pycache*

# local Azure config files
*.azure

# Local VS code files
*.vscode